.element {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  transition: 0.2s;
  &:focus {
    z-index: 1;
  }
  /* palette */
  &.primary {
    color: var(--text-primary);
    background-color: var(--primary);
    &:hover {
      color: var(--text-secondary);
      background-color: var(--secondary);
    }
  }
  &.secondary {
    color: var(--text-secondary);
    background-color: var(--secondary);
    &:hover {
      color: var(--text-primary);
      background-color: var(--primary);
    }
  }
  &.tertiary {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    &:hover {
      color: var(--text-secondary);
      background-color: var(--secondary);
    }
  }
  /* sizes */
  &.small {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    font-weight: 600;
  }
  &.medium {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1em;
    font-weight: 700;
  }
  &.uppercase {
    text-transform: uppercase;
  }
}
