@import "./mixins.scss";

.wrapper {
  position: relative;
  background-color: var(--bg-secondary);
  padding: 20px 0;
  .brand {
    color: var(--text-primary);
    transition: 0.2s;
    &:hover {
      color: var(--primary);
    }
  }
  @include mobile() {
    & {
      .brand {
        font-size: 0.7rem;
      }
    }
  }
}
