@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "/css/bootstrap-reboot.min.css";
@import "/css/bootstrap-grid.min.css";
@import "/css/bootstrap-utilities.min.css";
@import "/css/fontawesome.min.css";

$primary: #ffcc00;
$secondary: #000;
$tertiary: #f4f7fc;

:root {
  --primary: #ffcc00;
  --secondary: #000;
  --tertiary: #f4f7fc;
  --text-primary: #000;
  --text-secondary: #fff;
  --bg-primary: #000;
  --bg-secondary: #fff;
}

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--font-primary);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
  outline-width: 1px !important;
  outline-style: dashed !important;
  outline-color: transparent !important;
  &:focus {
    outline-color: var(--secondary) !important;
  }
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  .page-content {
    overflow-x: hidden;
  }
}
