.group {
  position: relative;
  .label {
    position: absolute;
    z-index: 1;
    display: block;
    top: 50%;
    left: 15px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 500;
    transition: 0.2s;
    transform: translateY(-50%);
  }
  .control {
    border-color: var(--secondary);
    border-width: 2px;
    border-style: solid;
    padding: 0 15px;
    padding-top: 15px;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    font-family: var(--font-secondary);
    &:focus,
    &:not(:placeholder-shown) {
      & + .label {
        top: 15px;
        opacity: 0.7;
        font-size: 0.7em;
      }
    }
  }
  textarea.control {
    height: auto;
    padding-top: 20px;
    & + .label {
      top: 20px;
    }
  }
}
