@import "./mixins.scss";

.wrapper {
  position: sticky;
  z-index: 2;
  top: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--tertiary);
  height: 100vh;
  width: 85px;
  .button {
    background-color: transparent;
    width: 100%;
    height: 75px;
    padding: 0;
    margin: 0;
    outline: none;
    user-select: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.2s, background-color 0.2s;
    &:hover {
      background-color: var(--primary);
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    .navItem {
      color: var(--text-primary);
      margin: 15px 0;
      font-weight: 500;
      a {
        color: inherit;
      }
    }
  }
  @include tablet() {
    & {
      display: none;
    }
  }
}
