.loading {
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: var(--bg-secondary);
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
    animation: loadingMotion 0.4s infinite forwards linear;
  }
  &.loading-lg {
    &::before {
      width: 80px;
      height: 80px;
    }
  }
  &.loading-sm {
    &::before {
      width: 25px;
      height: 25px;
      border-width: 3px;
    }
  }
  &.loading-secondary {
    &::before {
      border-color: var(--text-secondary);
    }
  }
}

@keyframes loadingMotion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
