@import "./mixins.scss";

.wrapper {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--bg-secondary);
  }
  &.narrow {
    width: calc(100% - 85px);
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    li {
      margin: 0 10px;
      a {
        display: block;
        color: var(--secondary);
        padding: 15px 10px;
        white-space: nowrap;
        font-size: 1.05em;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.2s color;
        &:hover {
          color: var(--primary);
        }
      }
    }
  }
  @include tablet() {
    &.narrow {
      width: 100%;
    }
  }
  @include mobile() {
    .nav {
      display: none;
    }
  }
}
