/********** Palette **********/
:root {
  --primary: #ffcc00;
  --secondary: #000;
  --tertiary: #f4f7fc;
  --text-primary: #000;
  --text-secondary: #fff;
  --bg-primary: #000;
  --bg-secondary: #fff;
}
/********** Fonts **********/
:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
